<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper row #26a69a teal lighten-1">
                <div class="col s3 left">
                    <a href="/posts" class="brand-logo ">Dinnection</a>
                </div>
                <!-- <div class="search-bar col s6 center">
                    <input id="search" type="search">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div> -->
                <div class="col s3 right">
                    <ul id="nav-mobile" class="right">
                        <li><a href="/upload">New Post</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a><button id="logout">Logout</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>

    <script src="/js/logout.js"></script>
</body>