<main>
    <div class="container">
        <div class="row">
            <div class="col l6 m8 s12 push-l3 push-m2 center">
                <h2>
                    Dinnection the Digital-Connection
                </h2>
                <p>Join our platform and grow network. We are the future of digital media.</p>
            </div>
        </div>
        <div class="row">
        <div class="col l6 m8 s12 push-l3 push-m2">
            <form class="login-form">
               <div class="card-panel z-depth-5">
                    <h5 class="center">
                        Log In
                    </h5>
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" id="email-login" placeholder="Enter email">
                        <label for="email-login"></label>
                    </div>
                
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" id="password-login" placeholder="Enter password">
                        <label for="password-login"></label>
                    </div>
                    
                    <div>
                        <p class="center">Don't have an account? 
                            <a href="/signup" class="modal-trigger">Signup!</a>
                            </p>
                        <button class="btn waves-effect waves-light" type="submit">
                            <input type="submit" name="submit" value="submit" class="lef col s12">
                        </button>
                    </div>
                </div> 
            </form>
        </div>
    </div>
    </div>
    
        
    </main>

    <script src="/js/login.js"></script>