<link rel="stylesheet" href="/css/style.css">

<h2 style="text-align:center">Welcome Back</h2>


<main>
    <div class="container">
          <div class="row">
            <div class="col m12 l5">
        <div class="card">
            <img src="/css/images/pro1.jpg" alt="Alex" style="width:100%">
            <h1>Alex Lee</h1>
            <p class="title">Front End Developer</p>
            <p>Columbia University</p>
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-twitter"></i></a>  
                    <a href="#"><i class="fa fa-linkedin"></i></a>  
                    <a href="#"><i class="fa fa-github"></i></a> 
                </div>
                <p class="contact-btn"><button>Contact</button></p>
        </div>
    </div>
            <div class="col m12 l7">
                <div class="card medium">
                    <div class="card-image">
                        <img class="" src="/css/images/post2.jpg">
                    </div>
                    <div class="card-action">
                        <a href="#"><i class="fa fa-thumbs-up"></i></a>
                        <a href="#"><i class="fa fa-thumbs-down"></i></a>
                        <span class="right material-icons &#10084; ">favorite</span>
                    </div>
                </div>
                <div class="card medium">
                    <div class="card-image">
                        <img class="responsive-img" src="/css/images/post3.jpg">
                    </div>
                    <div class="card-action">
                        <a href="#"><i class="fa fa-thumbs-up"></i></a>
                        <a href="#"><i class="fa fa-thumbs-down"></i></a>
                        <span class="right material-icons &#10084; ">favorite</span>
                    </div>
                </div>
                <div class="card medium">
                    <div class="card-image">
                        <img class="responsive-img" src="/css/images/post4.jpg">
                    </div>
                    <div class="card-action">
                        <a href="#"><i class="fa fa-thumbs-up"></i></a>
                        <a href="#"><i class="fa fa-thumbs-down"></i></a>
                        <span class="right material-icons &#10084; ">favorite</span>
                    </div>
                </div>
                <div class="card medium">
                    <div class="card-image">
                        <img class="responsive-img" src="/css/images/post5.jpg">
                    </div>
                    <div class="card-action">
                        <a href="#"><i class="fa fa-thumbs-up"></i></a>
                        <a href="#"><i class="fa fa-thumbs-down"></i></a>
                        <span class="right material-icons &#10084; ">favorite</span>
                    </div>
                </div>
            </div>
    </div>
    </div>
  

</main>

 