<main class="row">
    <div class="col l3 m3 s12"></div>
        <div class="col l6 m6 s12">
        <form class="signup-form">
          <div class="card-panel z-depth-5">
          <p class="center">
            Join our community!
          </p>
        
          <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" id="username-signup" placeholder="Enter username" />
            <label for="username-signup"></label>
          </div>
                
          <div class="input-field">
            <i class="material-icons prefix">email</i>
            <input type="email" id="email-signup" placeholder="Enter email" class="validate">
            <label for="email-signup"></label>
          </div>
                
          <div class="input-field">
            <i class="material-icons prefix">lock</i>
            <input type="password" id="password-signup" placeholder="Enter password">
            <label for="password-signup"></label>
          </div>

          <div class="input-field">
            <i class="material-icons prefix">work</i>
            <input type="text" id="job-title-signup" placeholder="Job title">
            <label for="job-title-signup"></label>
          </div>

          <div class="input-field">
            <i class="material-icons prefix">business</i>
            <input type="text" id="company-name-signup" placeholder="Company or School name">
            <label for="company-name-signup"></label>
          </div>

          <p class="center">Already have an account? <a href="/" class="modal-trigger">login</a></p>
          <button class="btn waves-effect waves-light" type="submit">
          <input type="submit" name="submit" value="submit" class="lef col s12">
          </button>
              
          <div class="clearfix"></div>
          </div>
        </form>
      </div>
      <div class="col l3 m3 s12"></div>
    </div>
  </div>
</main>

<script src="/js/signup.js"></script>