<form method="POST" class="upload-form" action="/api/photos/upload" enctype="multipart/form-data">
    <div>
        <label for="photo">Select image:</label>
        <input type="file" id="photo" name="photo" accept="image/*" />
    </div>
    <div>
        <input type="submit" class="btn primary-btn">
    </div>
</form>